#jumbo {
	background-color: #2253AF;
	color: white;
}
#dataentry {
	background-color: #2253A0;
	color: black;
}
#label1 {
	background-color: #2253A0;
	color: white;
}
.pp {
	color: white;
}
#label2 {
	color: white;
}
#label3 {
	color: white;
}
h3 {
	color: white;
}
.jumbotron {
	background-color: #2253A0;
	color: white;
}