#cc {
	color: white;
	background-color: #607070;
	background-image: images/image1.jpg;
}
#startbutton {
	color: red;
	font-size: 150%;
}
#mainjumbotron {
	color: white;
	background-color: #607070;
}
#donebutton {
	color: red;
}
#doneparagraph {
	color: red;
}
