n* {
  box-sizing: border-box;
}
footer {
	background-color: orange;
}
#headername {
	color: #4aaaa5;
}
h2,
h3	{
	color: #4aaaa5;
	border-bottom:	3px solid #dddddd;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin-top: 1px;
	padding-bottom: 3px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}  

li {
	float: left;
	/* width: 33%; */
	padding: 10px;
} 

li.border {
	border-right: 1px solid #dddddd;
	padding: 10px;
}

a {
	color: #777777;
	text-decoration: none;
}

/* Nav links turn teal on hover. */
a:hover {
  color: #4aaaa5;
}

.icon {
	width: 60px;
	height: auto;
	color: none;
	border-right: none;
}

.icon:hover {
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
}

section	{
	background-color: #ffffff;
	float: left;
	color: #777777;
	border: 2px solid #dddddd;
}

input,
textarea {
	width: 100%;
	padding: 10px 20px 10px 10px;
    margin: 8px 0;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
}

input,
textarea,
input::-webkit-input-placeholder {
    font-size: 16px;
}

footer {
	clear: both;
	margin: 0 auto;
	vertical-align: middle;
	padding: 18px;
	height: 70px;
	background-color: #303030;
	width: 100%;
	border-bottom: none;
	color: #777777;
	text-align: center;
}
#socialo {
	float: right;
	padding: 10px;
	width: 270px;
	top: 30px;
	text-align: center; 
	margin-right: 125px; 
	margin-top: 30px 
}

/* #main-bio, */
/* #contact-form, */

#main-bio {
	height: auto;
	padding: 20px;
}

#bio-image {
	clear: both;
	float: left;
	margin-right: 20px;
	width: 200px;
	height: 200px;
}

#contact-form {
	padding: 20px;
	height: 500px;
}

#project-portfolio {
	padding: 15px;
	height: 500px;
}
@media screen and (max-width: 699px) and (min-width: 520px) {
}
