body {
	backgroud-color: #2253AF;
	text-align: center;
	color: white;
}
.jumbotron {
	background-color: #2253AF;
}
h2 {
	color: white;
}
#startbtn {
	color: black;
	background-color: red;
	text-align: center;
	float: left;
}
#row1 {
	background: color #2253F;
}
#status {
	color: white;
}
#a1 {
	color: white;
}
#p1 {
	color: white;
}
.col {
	background-color: white;
	width: 70px;
	height: 70px;
	display: inline-block;
	border-radius: 50%;
	margin: 5px;
}
.cell {
	background-color: orange;
	height: 40px;
	width:  40px;
	padding: 5px;
	margin:  5px;
	display: inline-block;
}
#board-display {
	background-color: orange;
	display: inline-block;
	padding: 20px;
}
#col00 {
	background-color: white;
}
#col01 {
	background-color: white;
}
#col02 {
	background-color: white;
}
#col03 {
	background-color: white;
}
#col04 {
	background-color: white;
}
#col05 {
	background-color: white;
}
#col06 {
	background-color: white;
}
#col10 {
	background-color: white;
}
#col11 {
	background-color: white;
}
#col12 {
	background-color: white;
}
#col13 {
	background-color: white;
}
#col14 {
	background-color: white;
}
#col15 {
	background-color: white;
}
#col16 {
	background-color: white;
}
#col20 {
	background-color: white;
}
#col21 {
	background-color: white;
}
#col22 {
	background-color: white;
}
#col23 {
	background-color: white;
}
#col24 {
	background-color: white;
}
#col25 {
	background-color: white;
}
#col26 {
	background-color: white;
}
#col30 {
	background-color: white;
}
#col31 {
	background-color: white;
}
#col32 {
	background-color: white;
}
#col33 {
	background-color: white;
}
#col34 {
	background-color: white;
}
#col35 {
	background-color: white;
}
#col36 {
	background-color: white;
}
#col40 {
	background-color: white;
}
#col41 {
	background-color: white;
}
#col42 {
	background-color: white;
}
#col43 {
	background-color: white;
}
#col44 {
	background-color: white;
}
#col45 {
	background-color: white;
}
#col46 {
	background-color: white;
}
#col50 {
	background-color: white;
}
#col51 {
	background-color: white;
}
#col52 {
	background-color: white;
}
#col53 {
	background-color: white;
}
#col54 {
	background-color: white;
}
#col55 {
	background-color: white;
}
#col56 {
	background-color: white;
}
#col60 {
	background-color: white;
}
#col61 {
	background-color: white;
}
#col62 {
	background-color: white;
}
#col63 {
	background-color: white;
}
#col64 {
	background-color: white;
}
#col65 {
	background-color: white;
}
#col66 {
	background-color: white;
}
