body {
	backgroud-color: #2253AF;
	color: white;
}
.jumbotron {
	background-color: #2253AF;
}
h2 {
	color: white;
}
.cell {
	background-color: orange;
	height: 15px;
	width:  15px;
	padding: 1px;
	margin:  2px;
}