body {
	backgroud-color: #2253AF;
	text-align: center;
	color: white;
}
.jumbotron {
	background-color: #2253AF;
}
h2 {
	color: white;
}
.col {
	background-color: white;
	width: 70px;
	height: 70px;
	display: inline-block;
	border-radius: 50%;
	margin: 5px;
}
.cell {
	background-color: orange;
	height: 40px;
	width:  40px;
	padding: 5px;
	margin:  5px;
	display: inline-block;
}
#board-display {
	background-color: orange;
	display: inline-block;
	padding: 20px;
}